{%extends 'base.html'%}
{% load static %}
{%block title%}
About Us
{%endblock title%}

  {%block body%}
  
  <div><center><h1  id="header">About us</h1></center> </div>
  <div id="bigbox">
    <div id="acc" class="subbox thresh" style="font-size:1.3rem" >
    <p style=" margin-top:14vh">  This website works on the idea of understanding the influence maximization on different networks.
      This is a learning platform where you can implement and visualise working of linear threshold model using various centrality measures .
      This website helps you learn about centrality measures like degree centrality , closeness centrality , betweenness centrality , Page Rank centrality and eigenvector centrality
    </p>
     </div>

     <div  id="rightdiv"  class="subbox thresh">
      <img style="width:38vw; height: 60vh; margin-top:5vh" src="{% static 'img1.jpeg' %}">
    </div>


    </div>

  <div class="thresh " >
   
    
  </div>
  {%endblock body%}